{%extends 'base.html'%}
{%load static%}
{% block title %}Календарь{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/cal.css'%}">
{% endblock %}
{%block content%}
<div class="calendar-container">
    <div class="calendar">
        <div class="calHeader">
            <button id="prevMonth">‹</button>
            <h2 id="monthYear"></h2>
            <button id="nextMonth">›</button>
        </div>
        <div class="days"></div>
    </div>
</div>
<div class="book-modal" id="bookModal">
    <select id="bookSelector">
        <option value="" disabled selected>Выберите книгу</option>
    </select>
    <button id="saveBook">Сохранить</button>
    <button id="cancelBook">Отменить</button>
</div>
<script src="{%static 'js/calendar.js'%}"></script>
{%endblock%}