{%extends 'base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="calendarstyle.css">
<div class="container">
    <h1>Конспекты</h1>

    <form method="post" action="">
        {% csrf_token %}
        {{form}}
        <input type='submit' value='Добавить'>
    </form>
    <ul class='conspects_list'>
    {%for conspect in conspects%}
    <li data-id="{{ conspect.id }}">
        <a href="">{{ conspect.title }}</a> --- {{ conspect.description }} ??{{conspect.id}}??
    </li>
    {%endfor %}
    </ul>
    <div id="summaries"></div>
</div>
{%include 'includes/add_form.html'%}
<a class="add" href="#add_form"><button >Загрузить</button></a>

<script src="{%static 'js/conspect.js'%}"></script>
{% endblock %}