{%extends 'base.html'%}
{%load static%}
{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}
{%block title%}
Профиль
{% endblock %}
{%block content%}
    <div class="container">
        <div class="stats">
            <div class="profile1">
                <div class="profile-info">
                    <img src="https://via.placeholder.com/100" alt="Фото профиля">
                    <div>
                        <h1 id="displayUsername">{{user.name}}</h1>
                        <p id="displayEmail">emaillalala@urfu.me</p>
                        <a href="/logout">
                            <button class="logout">Выйти</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Цели</h2>
                <div class="goals">
                    <label for="goal">Установите цель (страницы):</label>
                    <input type="number" id="goal" placeholder="Введите цель" min="1">
                
                    <label for="readPages">Количество прочитанных страниц:</label>
                    <input type="number" id="readPagesInput" placeholder="Введите прочитанные страницы" min="0">
                
                    <button id="addPages">Добавить прочитанные страницы</button>
                    <p id="congratulationsMessage" style="display: none;">Поздравляем! Вы выполнили цель.</p>
                    <div class="circle">70/100</div>
                    <div class="days">
                        <div>ПН</div>
                        <div>ВТ</div>
                        <div>СР</div>
                        <div>ЧТ</div>
                        <div>ПТ</div>
                        <div>СБ</div>
                        <div>ВС</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Статистика</h2>
                <img src="{%static 'img/dirt/stat.png'%}" alt="" />
            </div>
            <div class="summary">
                <div>
                <h3>Всего прочитано книг:</h3>
                <p>20</p>
                </div>
                <div>
                <h3>Общее время чтения:</h3>
                <p>125</p>
                </div>
                <div>
                <h3>Скорость чтения:</h3>
                <p>23 стр/ч</p>
                </div>
                <div>
                <h3>Максимальное кол-во страниц за день:</h3>
                <p>20</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{%static 'js/goal.js'%}"></script>

    {%endblock%}