{%extends 'base.html'%} {%load static%} {% block style %}
<link rel="stylesheet" href="{% static 'css/reader.css'%}" />
{% endblock %} {%block content%}
<div class="wrapper reader">
  <div class="left tab">
    <a class="back" href="{{request.META.HTTP_REFERER}}">
      <img src="{%static 'svg/arr_left.svg'%}" alt="" />
    </a>
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <img src="{{book.cover.url}}" alt="" />
    
    <div class="timer">
      <div class="counter">00:00</div>
      <div class="buttons">
        <button class="start">Старт</button>
        <button class="stop">Стоп</button   >
      </div>
    </div>
  </div>

  <div class="text">{{text}}</div>
  <div class="right tab">SADAS</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = sessionStorage.getItem("scrollpos");
    if (scrollpos) {
      window.scrollTo(0, scrollpos);
      sessionStorage.removeItem("scrollpos");
    }
  });

  window.addEventListener("beforeunload", function (e) {
    sessionStorage.setItem("scrollpos", window.scrollY);
  });
</script>
{%endblock%}
