{%extends 'base.html'%} {%load static%} {% block style %}
<link rel="stylesheet" href="{% static 'css/reader.css'%}" />
{% endblock %} 
{%block title%}
{{book.title}}
{%endblock%}
{%block content%}
<div class="wrapper reader">
  <!-- <div  class="main_line progress"></div> -->
  <div class="left tab">
    <a class="back" href="{{request.META.HTTP_REFERER}}">
      <img src="{%static 'svg/arr_left.svg'%}" alt="" />
    </a>
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <div class="img_wrapper">
      <img src="{{book.cover.url}}" alt="" />
      <div id="progress" class="progress_bar">
        <div class="complete_line progress"></div>
      </div>
    </div>
    <label id="progressIndicator" for="progress">{{book.reading_progress}}% </label>
    <div class="timer">
      <div class="counter">00:00</div>
      <div class="buttons">
        <button class="start">Старт</button>
        <button class="stop">Стоп</button   >
      </div>
    </div>
  </div>

  <div class="text">{{text}}</div>
  <div class="right tab"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{%csrf_token%}
<script>
  const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  var pk = {{book.id}};
</script>
<script src="{%static 'js/reader.js'%}">
</script>
{%endblock%}
