{%extends 'signIn.html'%}
{%load static%}
{%block content%}
<div class="background">
    <div class="login-container">
        <h1>Добро пожаловать на BookReader!</h1>
        <p>Чтобы пользоваться функциями сайта, зарегистрируйтесь</p>
        <form method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="login">Войти</a></p>
    </div>
</div>
{% comment %} <script src="{%static 'js/reg.js'%}"></script> {% endcomment %}
{%endblock%}