{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/authorization.css'%}">
    <title>BookReader Вход</title>
</head>
<body>
    {%block content%}
    <div class="background">
        <div class="login-container">
            <h1>Добро пожаловать на BookReader!</h1>
            <p>Чтобы пользоваться функциями сайта, войдите в свой аккаунт</p>
            <form>
                <label for="login">Логин или электронная почта</label>
                <input type="text" id="login" placeholder="Введите логин или электронную почту">
                
                <label for="password">Пароль</label>
                <input type="password" id="password" placeholder="Введите пароль">
                
                <button type="submit">Войти</button>
            </form>
            <p>Ещё не зарегистрированы? <a href="registration">Зарегистрироваться</a></p>
        </div>
        
    </div>
    {%endblock%}
    
</body>
</html>

